.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

.textContent {
  margin-bottom: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #0077cc;
  border: 1px solid #0077cc;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #0077cc;
  color: #fff;
}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.roundedImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 200px; /* Fixed height for consistent image sizes */
}

.mainImage {
  grid-column: 1 / 3; /* Span two columns */
  height: 300px; /* Make the main image taller */
}